html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Bebas Neue';
    background-color:#f1edef;
}

.container{
    max-width: 900px;
    padding: 20px;
    margin: 0 auto; /* centering */
}

.section{
    margin: 10px 0;
    background-color: #e2dddf;
    border: #ffffff solid 4px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2, minmax(100px - 300px));
    border-bottom: #ffffff solid 4px;
    padding: 20px;
}

.section__body{
    padding: 20px;
}

.form{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px){
    .form{
        grid-template-columns: 1fr;
    }
}

.form__input{
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button{
    padding: 10px;
    background-color: hsl(206, 81%, 23%);
    color: #ffffff;
    border: none;
}

.form__button:hover{
    background-color: hsl(206, 81%, 30%);
}

.form__button:active{
    background-color: hsl(206, 81%, 40%);
}

.tasks{
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.tasks__content--done{
    text-decoration: line-through;
}

.tasks__button{
    border: none;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 0;
}

.tasks__button--done{
    background-color: hsl(120, 61%, 34%);
}

.tasks__button--done:hover{
    background-color: hsl(120, 61%, 40%);
}

.tasks__button--done:active{
    background-color: hsl(120, 61%, 45%);
}

.tasks__button--remove{
    background-color: hsl(348, 83%, 47%);
}

.tasks__button--remove:hover{
    background-color: hsl(348, 83%, 52%);
}

.tasks__button--remove:active{
    background-color: hsl(348, 83%, 57%);
}